body {
  background-color: #3f474c;
  color: #bbb;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  user-select: none;
  transition: background-color ease-in 1s;
}

#progress, #game, #dead, #prejoin, #winner, #disconnected {
  display: none;
}

#container, #legend {
  max-width: 400px;
  margin: 30px auto;
  border: 1px dotted rgba(255,255,255,0.25);
  padding: 5% calc(5% - 5px) 5% 5%;
  background-color: rgba(0,0,0,0.25);
}

@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }
  #container, #legend {
    margin: 0;
    max-width: 100%;
  }
}

button, input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px auto;
  border: 1px solid rgba(0,0,0,0.25);
  padding: 10px;
  background-color: rgba(0,0,0,0.25);
  color: #bbb;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  outline: 0;
  margin-top: 15px; 
}

button {
  border-left-color: rgba(255,255,255,0.15);
  border-top-color: rgba(255,255,255,0.15);
  border-radius: 10px;
}

#players .you {
  color: #F2A03D;
  font-weight: bold;
}

.host, .disconnected {
  display: none;
}

.role {
  font-size: 45px;
  display: block;
  line-height: 1em;
  margin: 5px 0;
  margin-right: 5px;
}

#role, #dead {
  font-size: 2em;
  float: right;
  margin-top: -0.4em;
}

.kill, .revive {
  font-size: 0.5em;
  padding: 5px;
  margin: 0;
}

.name {
  text-transform: capitalize;
  color: #F27C38;
  text-align: center;
  white-space: nowrap;
}

#players {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}


#players li {
  display: block;
  width: calc(33% - 17px);
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0px 5px;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 8px;
  height: 135px;
  float: left;
  list-style-type: none;
  background-color: rgba(0,0,0,0.25);
  overflow: hidden;
  text-align: center;
  cursor: default;
  transition: border-color ease-in 1s;
}

#container .hostview li {
  height: 175px;
}

#selection {
  display: none;
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 4em;
  text-align: center;
  cursor: default;
}

.centeralign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 0.8em;
  width: 100%;
}

#selection .role {
  margin-top: 50px;
  font-size: 110px;
}

#selection .name {
  white-space: normal;
}

.night {
  background-color: #1d1d1d;
}

.night #players li {
  border: 1px solid rgba(255,255,255,0.15);
}

#winner, #disconnected {
  border: 1px solid rgba(0,0,0,0.9);
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 4em;
}

#disconnected {
  z-index: 10;
}

#legend {
  margin-top: 40px;
}

#legend li {
  list-style-type: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}